.container {
  margin: calc(1vh + 5% - 20px) auto calc(2vh - 20px);
  box-sizing: border-box;
  padding: 30px;
  width: 600px;
  max-width: 100%;

  @include onMobile {
    width: 100%;
  }

  h1 {
    font-size: 6rem;
    color: $accent;
    margin: 0;

    &.apiDisabled i {
      color: crimson !important;
    }

    i {
      color: $accent !important;
    }
  }

  h2 {
    margin: 0;
    padding-left: 3px;
    margin-bottom: 30px;
  }

  p {
    padding-left: 3px;
    margin-bottom: 30px;
  }

  .clicker {
    cursor: pointer;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
