html {
  --ac-color: #{$accent};

  &[data-theme="dark"] {
    --bg-color: #{$black};
    --fg-color: #{$white};
    background-color: $black;
    color: $white;

    i {
      color: $white !important;
    }
  }

  &[data-theme="light"] {
    --bg-color: #{$white};
    --fg-color: #{$black};
    background-color: $white;
    color: $black;

    i {
      color: $black !important;
    }
  }

  &.loaded {
    &, main {
      transition: background-color .4s ease-in-out;
    }
  }
}

body {
  font-size: 11pt;
  margin: 0;
  overflow-x: hidden;
}

::selection {
  background-color: $accent;
  color: $white;
}

*:focus {
  outline: none;
}
