footer {
  padding: 20px;
  font-size: 0.8rem;

  p {
    margin: 10px 0 0;
    color: gray !important;

    a {
      color: inherit;
      text-decoration: none;

      &:focus, &:hover {
        color: #fefefe;
      }
    }

    &.version {
      opacity: .5;
      margin-top: 5px;
      user-select: none;
    }
  }
}
