h1 {
  margin: 0 0 15px 0;

  .title, .date {
    display: block;
  }

  .title {
    color: var(--fg-color);
    margin-right: 10px;
    font-weight: 700;
  }

  .date {
    color: $accent;
    font-weight: 400;
  }
}

.engNoti {
  margin-bottom: 5px;
}

.notiBar {
  border-radius: 2px;
  margin-bottom: 15px;

  i[data-icon-name] {
    color: black !important;
  }
}
