html[data-theme="dark"] {
  --bg-color: $black;
  --fg-color: $white;
  background-color: #1b1b1b;
  color: #fefefe; }

html[data-theme="light"] {
  --bg-color: $white;
  --fg-color: $black;
  background-color: #fefefe;
  color: #1b1b1b; }

html.fPriTC, html.fPriTC main {
  transition: background-color .4s ease-in-out, color .4s ease-in-out; }

body {
  font-size: 11pt;
  margin: 0;
  overflow-x: hidden; }

::selection {
  background-color: #ffc206;
  color: #fefefe; }

*:focus {
  outline: none; }

