html[data-theme="dark"] {
  background-color: #1b1b1b;
  color: #fefefe; }

html[data-theme="light"] {
  background-color: #fefefe;
  color: #1b1b1b; }

html.fPriTC6Hf {
  transition: background-color .4s ease-in-out, color .4s ease-in-out; }

body {
  font-size: 11pt;
  margin: 0;
  overflow: hidden; }
  body, body * {
    font-family: "Noto Sans CJK KR", "Noto Sans KR", sans-serif; }

::selection {
  background-color: #ffc206;
  color: white; }

*:focus {
  outline: none; }

