.gqciH1Ktv {
  display: block;
  margin: calc(1vh + 5% - 20px) auto calc(2vh - 20px);
  width: max-content; }

main {
  margin: auto;
  position: relative;
  display: table-cell;
  min-width: 240px;
  padding: 20px; }
  main h1 {
    color: #ffc206;
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 1.4rem;
    display: inline-block; }
  main .D7MhqtYKR {
    padding-right: 4px; }

._77Argp145 {
  display: table;
  padding: 10px; }
  ._77Argp145 > div {
    display: table-cell; }
  ._77Argp145 > div:not(:last-of-type) {
    padding-right: 20px; }
  ._77Argp145 h4 {
    margin: 0 0 10px 0; }
  ._77Argp145 .mxdGwnVIT {
    min-width: 100px;
    line-height: 1.8;
    display: table; }
    @media screen and (orientation: portrait) {
      ._77Argp145 .mxdGwnVIT {
        display: flex;
        flex-direction: column; }
        ._77Argp145 .mxdGwnVIT > div[data-list]:not(:last-of-type) {
          padding-right: 0;
          padding-bottom: 15px; } }
    ._77Argp145 .mxdGwnVIT > div {
      max-width: 140px; }
    ._77Argp145 .mxdGwnVIT > div:not([data-list]) {
      margin-bottom: 5px; }
    ._77Argp145 .mxdGwnVIT > div[data-list] {
      display: table-cell; }
      ._77Argp145 .mxdGwnVIT > div[data-list]:not(:last-of-type) {
        padding-right: 15px; }
      ._77Argp145 .mxdGwnVIT > div[data-list] h6 {
        color: #ffc206;
        font-size: .8rem;
        margin: 0 0 5px 0; }
      ._77Argp145 .mxdGwnVIT > div[data-list] p {
        margin: 0; }

footer {
  padding: 20px;
  font-size: 0.8rem;
  color: gray; }
  footer p {
    margin: 10px 0 0; }

