.uuRsHWJns {
  padding-right: 4px; }
  .uuRsHWJns .HXwtdUlCq {
    display: table;
    padding: 10px; }
    .uuRsHWJns .HXwtdUlCq > div {
      display: table-cell; }
    .uuRsHWJns .HXwtdUlCq > div:not(:last-of-type) {
      padding-right: 20px; }
    .uuRsHWJns .HXwtdUlCq h4 {
      margin: 0 0 10px 0; }
    .uuRsHWJns .HXwtdUlCq .AeZacd7CG {
      min-width: 100px;
      line-height: 1.8;
      display: table; }
      @media screen and (orientation: portrait) {
        .uuRsHWJns .HXwtdUlCq .AeZacd7CG {
          display: flex;
          flex-direction: column; }
          .uuRsHWJns .HXwtdUlCq .AeZacd7CG > div[data-list]:not(:last-of-type) {
            padding-right: 0;
            padding-bottom: 15px; } }
      .uuRsHWJns .HXwtdUlCq .AeZacd7CG > div {
        max-width: 140px; }
      .uuRsHWJns .HXwtdUlCq .AeZacd7CG > div:not([data-list]) {
        margin-bottom: 5px; }
      .uuRsHWJns .HXwtdUlCq .AeZacd7CG > div[data-list] {
        display: table-cell; }
        .uuRsHWJns .HXwtdUlCq .AeZacd7CG > div[data-list]:not(:last-of-type) {
          padding-right: 15px; }
        .uuRsHWJns .HXwtdUlCq .AeZacd7CG > div[data-list] h6 {
          color: #ffc206;
          font-size: .8rem;
          margin: 0 0 5px 0; }
        .uuRsHWJns .HXwtdUlCq .AeZacd7CG > div[data-list] p {
          margin: 0; }

footer {
  padding: 20px;
  font-size: 0.8rem; }
  footer p {
    margin: 10px 0 0;
    color: gray !important; }
    footer p.B4jsoi6KZ {
      opacity: .5;
      margin-top: 5px;
      user-select: none; }

.OUdguYPTr {
  display: block;
  margin: calc(1vh + 5% - 20px) auto calc(2vh - 20px);
  width: max-content; }
  .OUdguYPTr main {
    margin: auto;
    position: relative;
    display: table-cell;
    min-width: 240px;
    padding: 20px; }
    .OUdguYPTr main h1 {
      color: #ffc206;
      margin: 0 0 10px 0;
      font-weight: 700;
      font-size: 1.4rem;
      display: inline-block; }

