html {
  &[data-theme="dark"] {
    background-color: $black;
    color: $white;
  }

  &[data-theme="light"] {
    background-color: $white;
    color: $black;
  }

  &.loaded {
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
  }
}

body {
  font-size: 11pt;
  margin: 0;
}

::selection {
  background-color: $monet;
  color: $white;
}

*:focus {
  outline: none;
}
