.menuContainer {
  .menuBLD {
    display: table;
    padding: 10px;

    & > div {
      display: table-cell;
    }

    & > div:not(:last-of-type) {
      padding-right: 20px;
    }

    h3 {
      margin: 10px 0;

      .title {
        font-weight: 700;
      }
    }

    .menuList {
      min-width: 100px;
      line-height: 1.2;
      display: table;

      @include onMobile {
        & {
          display: flex;
          flex-direction: column;

          & > div[data-list]:not(:last-of-type) {
            padding-right: 0 !important;
            padding-bottom: 15px;
          }
        }
      }

      & > div:not([data-list]) {
        margin-bottom: 5px;
      }

      & > div[data-list] {
        display: table-cell;
        max-width: 185px;

        @include onMobile {
          max-width: 165px;
        }

        &:not(:last-of-type) {
          padding-right: 15px;
        }

        h4 {
          margin: 0 0 5px 0;

          .subTitle {
            font-weight: 700;
            color: $monet;
          }
        }

        p {
          margin: .8em 0;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
