.container {
  margin: calc(1vh + 5% - 20px) auto calc(2vh - 20px);
  width: 600px;

  @include onMobile {
    width: 390px;
  }

  h1 {
    font-size: 6rem;
    color: $monet;
    margin: 0;

    i {
      color: $monet !important;
    }
  }

  h2 {
    margin: 0;
    padding-left: 3px;
  }

  p {
    padding-left: 3px;
  }
}
