.container {
  display: block;
  margin: calc(1vh + 5% - 20px) auto calc(2vh - 20px);
  width: max-content;
}

main {
  margin: auto;
  position: relative;
  display: table-cell;
  min-width: 240px;
  padding: 20px;

  h1 {
    color: $monet-color;
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 1.4rem;
    display: inline-block;
  }

  .pivot {
    padding-right: 4px;
  }
}

.menuContainer {
  display: table;
  padding: 10px;

  & > div {
    display: table-cell;
  }

  & > div:not(:last-of-type) {
    padding-right: 20px;
  }

  h4 {
    margin: 0 0 10px 0;
  }

  .menuList {
    min-width: 100px;
    line-height: 1.8;
    display: table;

    @media screen and (orientation: portrait) {
      & {
        display: flex;
        flex-direction: column;

        & > div[data-list]:not(:last-of-type) {
          padding-right: 0;
          padding-bottom: 15px;
        }
      }
    }

    & > div {
      max-width: 140px;
    }

    & > div:not([data-list]) {
      margin-bottom: 5px;
    }

    & > div[data-list] {
      display: table-cell;

      &:not(:last-of-type) {
        padding-right: 15px;
      }

      h6 {
        color: $monet-color;
        font-size: .8rem;
        margin: 0 0 5px 0;
      }

      p {
        margin: 0;
      }
    }
  }
}

footer {
  padding: 20px;
  font-size: 0.8rem;
  color: gray;
  border-top: 1px solid rgba(128, 128, 128, .2);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;

  p {
    margin: 10px 0 0;
  }
}
