.container {
  margin: calc(1vh + 5% - 20px) auto calc(2vh - 20px);
  width: 600px;

  @include onMobile {
    width: 390px;
  }

  main {
    position: relative;
    min-width: 240px;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: table-cell;
  }
}
