// Look Also: ./components/Theme.tsx

$accent-onlight: #704CD1;
$accent-ondark: #9071E2;
$white: #fff;
$black: #1b1a19;

@mixin onMobile {
  @media screen and (orientation: portrait) and (max-width: 440px) {
    @content;
  }
}
